@charset "UTF-8";
/* CSS Document */

/***********************
Global Styles
***********************/
body {
	margin: 0;
  color: #000000;
  font-family: sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
	color: #EEEEEE;
	font-weight: bold;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

h1 {
	margin-left:-5px;
}

/***************************
Navigation
****************************/
.nav {
	margin-bottom: 0;
}

.navbar-left {
  /*border: medium none;*/
  margins: 0 auto;
  position: relative;
  /*top: 6em;*/
  /*z-index: 1000;*/
  width: 100%;
  text-align: center;
  /*box-shadow: 0 0 30px 0 #111111;*/
}

.navbar-left ul {
  list-style:none;
}

.navbar-left ul li {
	display:inline;
	padding: 0.8em;
	color: #FFFFFF;
   font-family: sans-serif;
   font-size: 2em;
   font-weight:300;
	/*position: relative;
  float: left;*/
}

.navbar-left ul li a:link,
.navbar-left ul li a:visited {
	color: #FFFFFF;
	/*padding: 0 .6em;
  float: left;*/
}

.navbar-left ul li a:hover,
.navbar-left ul li a:focus {
	background: none;
}

.navbar-left ul li a.enabled {
	border-bottom: 3px solid #FFFFFF;
}
/***********************************
HIDDEN NAV STYLES
************************************/
.nav-top {
	margin-bottom: 0;
}

.navbar-left-top {
  /*border: medium none;*/
  margins: 0 auto;
  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: right;
  background-color:#f5f5f5;
  opacity:;
  padding:8px 0 0 0;
  /*-webkit-transition: all 0.2s ease-out;
  transition:all 0.2s ease-out;*/
  display:none;
  box-shadow: 0 0 10px 0 #111111;
}

.navbar-left-top.is-visible {
	display:block;
}

.navbar-left-top ul {
  list-style:none;
}

.navbar-left-top ul li {
	display:inline;
	padding: 0.5em;
	color: #17b7d5;
   font-family: sans-serif;
   font-size: 1.5em;
   font-weight:300;
	/*position: relative;
  float: left;*/
}

.navbar-left-top ul li:last-child {
	padding-right:140px;
}

.navbar-left-top ul li a:link,
.navbar-left-top ul li a:visited {
	color: #17b7d5;
	/*padding: 0 .6em;
  float: left;*/
}

.navbar-left-top ul li a:hover,
.navbar-left-top ul li a:focus {
	background: none;
}

.navbar-left-top ul li a.enabled {
	border-bottom: 3px solid #17b7d5;
}
/********************************
 Main Sections and Content Area
*********************************/
.title {
	padding:2em 0;
	height:12em;
}

.title h1 {
	color:#fff;
	font-size:5em;
	font-weight:bold;
}
.title h2 {
	color:#46535a;
	font-size:1.8em;
}



.page {
  position: relative;
  padding:0;
  font-weight: 100;
  line-height: 1.5;
  margin:0 auto;
}

.panel {
	padding: 4em 0 4em 0;
}
.bios {
	padding:0 0 8em 0;
}

.white h1 {
	color:#17b7d5;
	font-size:4em;
	padding:0;
}

.white h2 {
	color:#46535a;
	font-size:2em;
}

.white h3 {
	color:#a7a5a5;
	font-size:2em;
}

.white h4 {
	color:#46535a;
	font-size:2em;
	font-weight:bold;
}

.grey h1 {
	color:#46535a;
	font-size:4em;
	padding:0;
}

.grey h2 {
	color:#a7a5a5;
	font-size:2em;
}

.blue h1 {
	color:#fff;
	font-size:4em;
	padding:0;
}

.blue h2 {
	color:#46535a;
	font-size:2em;
}


/**************************
Colors and Various
***************************/
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.blue {
	background-color:#17b7d5;
}

.blue-box {
	background-color:#17b7d5;
	position: relative;
  	padding:0 0 0 0;
  	margin:0 auto;
}
	
.white {
	background-color:#FFFFFF;
}
.white-title {
	background-color:#FFFFFF;
}

.grey {
	background-color:#f5f5f5;
}
	
.outline {
	border:1px solid #000;
}

.para {
	padding: 6em 0 9em 0;
}

.headshot {
	padding: 1.6em 0;
}

.clients {
	padding: 4em 0;
}

/*.container {
	padding:0;
	margin:0 auto;
}
.margin {
	width:80%;
	margin:0 auto;
}*/

/***Icons*********/
.up-square-90 {
  display: block;
  width: 60px;
  height: 60px;
  /*border: 4px solid #666;*/
  background-color:#666;
  opacity:0.5;
  border-radius: 10px;
  text-align: center;
  float: left;
  margin: 50px;
}
.up-square-90 span {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  line-height: 60px;
  color: #999;
  font-family: Arial;
}

/**********************************
	 Scroll Up link 
***********************************/
#scrollToTop {
	/*width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #111111;
	color: #CCCCCC;*/
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: center;
	display: none;
	cursor: pointer;
	transition:all 0.3s;
	z-index: 10000;
  opacity: .6;
}

#scrollToTop:hover {
	text-decoration: none;
	background-color: #000000;
	color: #999999;
}
.fix-top {
	top:0;
	position:absolute;
}
/********************************
Mobile Stuff
*********************************/
@media (max-width: 480px) {
	html, body {
		overflow-x:hidden;
	}
	.conatiner {
		width:auto;
	}
	img {
		max-width:100%
	}
	.navbar-left-top ul li {
	display:inline;
	padding: 0em;
	text-wrap:normal;
	}
	.well {
		background:none;
		border:none;
		box-shadow: none;
	}

}

@media (max-width: 768px) {
	body {
    padding: 0;
  }
  h1 {
	  margin:auto;
  }
  
#scrollToTop {
	display:none !important;
}
  .right {
	  text-align:center;
  }
  
  .navbar-left {
		display:none;
	}

	.navbar-left-top {
  /*border: medium none;*/
  margins: 0 auto;
  position: absolute;
  top:0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  background-color:#f5f5f5;
  opacity:;
  padding:4px 0 0 0;
  /*-webkit-transition: all 0.2s ease-out;
  transition:all 0.2s ease-out;*/
  display:block;
  box-shadow: none;
}

.navbar-left-top ul {
  list-style:none;
  padding:0;
  margin:auto;
}

.navbar-left-top ul li {
	display:inline;
	padding: 0.5em;
	color: #17b7d5;
   font-family: sans-serif;
   font-size: 1.2em;
   font-weight:300;
	/*position: relative;
  float: left;*/
}
.navbar-left-top ul li:first-child {
	padding-left:0;
}
.navbar-left-top ul li:last-child {
	padding-right:0;
}

	.page {}

	.container {
		padding-left: 20px;
		padding-right: 20px;
		width:auto;
	}
	
	.title {
	padding:2em 0;
	height:10em;
}

.title h1 {
	font-size:3em;
	line-height:32px;
	text-align:center;
	padding:1em 0 0 0;
	margin: -30px 0 0 0;
}

.title h2 {
	font-size:1.2em;
	text-align:center;
	padding:0;
	line-height:15px;
	margin: 0;
}

.white h1 {
	font-size:2.4em;
}
.white h2 {
	font-size:1.2em;
	line-height:10px;
}
.grey h1 {
	font-size:2.4em;
}
.grey h2 {
	font-size:1.2em;
	line-height:10px;
}
.blue h1 {
	font-size:2.4em;
}
.blue h2 {
	font-size:1.2em;
	line-height:10px;
}
.bios h3 {
	font-size:1.2em;
	line-height:10px;
}
.bios h4 {
	font-size:2em;
	line-height:25px;
}

.para {
	padding: 2em 0 2em;
}
	.page p {
		text-align: left;
	}
.mobile-top {
		top:0 !important;
	}


}
